.timeline-small {
  width: 100%;
  max-height: 630px;
  overflow: hidden;
  margin: 30px auto 0;
  box-shadow: 0 0 40px #a0a0a0;
  font-family: font-family: monospace;
  border: #ffffff 1px solid;
}

.header {
  background: url(https://marclesterkasilag.github.io/assets/img/kervatar.jpg);
  background-position: bottom center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.color-overlay {
  padding: 3em 2em;
  box-sizing: border-box;
  border: #b0e8e2 0.2px solid;
}

.header-name {
  font-size: 1.6em;
}

.header-sub {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 2px;
}

.timeline-small-body {
  width: 100%;
  text-align: center;
}

.timeline-small-body ul {
  color: white;
  padding: 1em 0 0 2em;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline-small-body ul::before {
  content: ' ';
  height: 100%;
  width: 1.2px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 3.2em;
  z-index: -1;
}

.timeline-small-body li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}

.timeline-small-body .bullet {
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  margin-right: 1rem;
  margin-top: 7%;
}

.timeline-small-body .date {
  width: 30px;
  font-size: 0.75em;
  padding-top: 0.40rem;
  padding-right: 2rem;
}

.timeline-small-body .date img {
  width: 100%;
}

.timeline-small-body .desc {
  width: 50%;
}

.timeline-small-body h3 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.timeline-small-body h4 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 400;
  color: #808080;
  text-align: left;
}